[buildout]
extensions = mr.developer
parts =
    acmeio
    tumbleweed
    coyote
    acmeio-config
    tumbleweed-config
    coyote-legacy-config
allow-hosts =
    *.python.org
    *.pylonsproject.org
    initd.org
    *.github.io
    bitbucket.org
    *.edgewall.org
    *.edgewall.com
# mr.developer options
sources = sources
auto-checkout = *
always-checkout = false

[sources]
pybit = git git@github.com:nicholasdavidson/pybit.git
acmeio = git git@github.com:Connexions/acmeio.git
tumbleweed = git git@github.com:Connexions/tumbleweed.git
coyote = git git@github.com:Connexions/coyote.git
roadrunners = git git@github.com:Connexions/roadrunners.git


[acmeio]
recipe = zc.recipe.egg:scripts
eggs =
    acmeio
    pyramid


[tumbleweed]
recipe = zc.recipe.egg:scripts


[coyote]
recipe = zc.recipe.egg:scripts
eggs =
    coyote
    roadrunners[legacy]


[acmeio-config]
recipe = collective.recipe.template
input = src/acmeio/development.ini
output = etc/acmeio.ini

[tumbleweed-config]
recipe = collective.recipe.template
input = src/tumbleweed/development.ini
output = etc/tumbleweed.ini

[_shell-derived-variables]
recipe = collective.recipe.shelloutput
commands =
    python24-env = dirname $(dirname $(which python2.4))

[coyote-legacy-config]
recipe = collective.recipe.genshi
input = etc/coyote-legacy.ini.in
output = etc/coyote-legacy.ini
# Custom properties to fill into the template.
output-dir = ${buildout:directory}/var
python24-env = ${_shell-derived-variables:python24-env}
Products.RhaptosPrint = ${buildout:directory}/src/Products.RhaptosPrint
oer.exports = ${coyote-legacy-config:Products.RhaptosPrint}/Products/RhaptosPrint/epub
cnx-buildout-dir = ${buildout:directory}/cnx-buildout
